#container {
    font-size: 12px;
    font-family: arial, sans-serif;
    text-align: left;
}

p {
    margin: 0 10px 0px;
}

#header {
    height: 80px;
    background-color: rgb(238, 238, 238);
    color: rgb(122, 177, 36);
    padding-left: 10px;
    line-height: 80px;
}

#header h1 {
    margin: 0;
}

#navigation {
    background-color: rgb(186, 203, 253);
}

#extra {
    background-color: rgb(253, 133, 67);
}

#footer {
    height: 14px;
    padding: 5px 10px 5px 10px;
    color: #FFF;
    background-color: #333;
}

#footer p {
    line-height: 14px;
    margin: 0px;
}

/*layout*/

#wrapper {
    float: left;
    margin-left: -25%;
    width: 100%;
}

#content {
    margin-right: 200px;
    margin-left: 25%;
}

#navigation {
    float: left;
    width: 200px;
    margin-left: -200px;
}

#extra {
    float: left;
    width: 25%;
}

#footer {
    clear: left;

}